.row-fluid
  .span12.footer
    .row
      .span6.footer-left
        .footer-firm
          2014 © радиаторы торидо
        .footer-creator
          Создание сайтов БИАТ
      .span6.footer-right
        .footer-facebook
        .footer-vkontakte
        .footer-twitter
        .footer-youtube
        .footer-text
          мы в социальных сетях