---
title: torido_info2
body_class: main
---
.container
  .content
    .row-fluid
      .span2.site-block-sp2
        = partial 'left_column'
      .span10.site-block-sp10
        = partial 'navigation'
        .body-info
          = partial 'body_info_menu'
          .body-info-content
            .row-fluid
              .span12.body-info-content-text
                .block-scroll.j-scroll-block
                  .scrollbar
                    .track
                      .thumb
                  .viewport
                    .overview
                      .info-doc-block
                        .info-doc-block-image
                        .info-doc-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-doc-block-desc
                          (1.36MB, Добавлен: 29.11.2013 10:51)
                      .info-doc-block
                        .info-doc-block-image
                        .info-doc-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-doc-block-desc
                          (1.36MB, Добавлен: 29.11.2013 10:51)
                      .info-doc-block
                        .info-doc-block-image
                        .info-doc-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-doc-block-desc
                          (1.36MB, Добавлен: 29.11.2013 10:51)
                      .info-doc-block
                        .info-doc-block-image
                        .info-doc-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-doc-block-desc
                          (1.36MB, Добавлен: 29.11.2013 10:51)
                      .info-doc-block
                        .info-doc-block-image
                        .info-doc-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-doc-block-desc
                          (1.36MB, Добавлен: 29.11.2013 10:51)
                      .info-doc-block
                        .info-doc-block-image
                        .info-doc-block-title
                          Сертификато соответсвия на аллюминиевые райдиаторы
                        .info-doc-block-desc
                          (1.36MB, Добавлен: 29.11.2013 10:51)
                      

    = partial 'footer'